/*------------------------------------*\
 #HEADER                 
\*------------------------------------*/

.header {
  display: block;
  @include height(60px);
  width: 100%;
  background-color: $color-vi;
  position: fixed;
  top: 0;
  z-index: 1;

    &__nav {
      @include width(60px);
      background-color: blue;
      float: left;
        
        &-btn{
          padding: 0.96rem;
          @include center(vertical);
          @include font-size(24px);
          color: $color-white;
        }
    }
    
    &__logo {
        
      font-family: $font-family-primary;
      float: left;
        
        & figure {
          min-width: 88px;
          min-height: 35px;
          @include center(both);
          @include width(160px);
        }
        
        & img {
          @include center(both);
          max-width: 158px;
          max-height: 35px;
        }
    }
    
    &__search {
      @include width(50px);
      float: right;
      background-color: #000;
        
        &__icon {
            color: $color-white;
            color: #f7f1e3;
            position: absolute;
            top: 35%;
            right: 25px;
        }
    }

}

.back-nav-filler {
  @include height(60px);
}