.primary-gallery {

    &__controls {
        width: 80%;
        @include center(horizontal);  
        height: 20px;
        position: relative;
        bottom: calculateHeightRem(75px);
    }
    
    &--a {
        background-image: url(../../img/image-shark.jpg);
        float: left;
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 100%;
        min-width: 100%;
        vertical-align: middle;
        @include height(340px);
    }
    
    &--b {
        background-image: url(../../img/smush-1.jpg);
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        @include height(340px);
    }
}

.circles {
    list-style: none;
    @include center(vertical);
    
    &__circle {
        float: left;
        width: 15px;
        height: 15px;
        border: 2px solid $color-black;
        border-radius: 50px;
        margin-right: 10px;
        background-color: $color-black;
    }

    &--left {
        position: relative;
        float: left;
        left: 0;
    }

    &--right {
        float: right;
        right: 0;
    }
}

.color-container-1 {
    height: 100%;
    width: auto;
    background-color: rgba($color-vii, 0.8);
}

.color-container-2 {
    height: 100%;
    width: auto;
    background-color: rgba($color-v, 0.8);
}

.gallery-info {
    position: absolute;
    margin-top: 2rem;
    margin-left: 10%;
    color: $color-white;

    &__main {
        text-transform: uppercase;
        font-weight: bolder;
    }

    &__sub {
        line-height: 0.3rem;
        @include font-size(12px);
        border-bottom: 3px solid $color-vii;
    }
}


.secondary-gallery {
    @include height(400px);
    background-image: url(../../img/image-purple.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        padding: 20px 60px 20px 60px;
        color: $color-white;
        background-color: rgba($color-black, 0.5);
        @include height(400px);
        
        & p {
            @include font-size(12px);
        }
    }

    &__image {
        background-image: url(../../img/Sense-tiÃÅtol-800x532.jpg);
        height: auto;
        width: 100%;
        z-index: 2;
    }

    &__next-left svg {
        background-image: url(https://remo-production.s3.amazonaws.com/static/images/icons/arrow-large-white.svg);
        width: 100px;
        fill: $color-iii;

    }
}




.tertiary-gallery {
    background-color: orange;
    width: 100%;

    &__header {
        background-color: #fff;
    }

    &__card {
        // border: 2px solid $color-vi;
        // border-bottom: 1px solid red;
        background-size: cover;
        float: left;
        @include height(382px);
        position: relative;

        & span {
            background-color: $color-ii;
            color: $color-typography;
            text-transform: uppercase;
            bottom: 1rem;
            padding: 0 0.5rem;
            margin-left: 1rem;
            position: absolute;
        }
        
        &--a {
            background-image: url(../../img/002-vaso_medio_lleno.jpg);
            background-repeat: no-repeat;
            width: 100%;
            // @include height(382px);
        }
        &--b {
            background-image: url(../../img/1451352298708.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            
        }
        &--c {
            background-image: url(../../img/002-vaso_medio_lleno.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
         
        }
        &--d {
            background-image: url(../../img/1451352298708.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
           
        }
    }
}