.social-links {
    & ul {
        margin-bottom: 2%;
        & li {
            padding: 0rem 3% 0rem 3%;
            color: $color-tertiary;

            & a {
                text-decoration: none;
                color: $color-primary;
            }
        }
    }

    &__icon {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    & i {
        color: $color-secondary;
        margin-right: 1rem;
    }
}