html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    // background-color: $color-pentanary;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto 2em;
    display: block;
}