@media screen and (min-width: 600px) {
    .nav a:not(:last-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }

// STYLE

    .card {
      display: flow-root;
      position: relative;
      padding-top: 2rem !important;
      
      &__image img {
        width: 40%;
        float: left;
        margin: 0;
      }

      &__text {
        margin: auto !important;
        float: right;
        position: absolute;
        transform: translate(95%, 0%);
        text-align: left !important;
        padding: 2rem 0 2rem 0;
        width: 50%;
      }
    }

    .section-content {
      padding: $layout-600 !important; 
    }


  }
  
  // @media screen and (max-width: 600px) {
  //   .nav.responsive {
  //     position: relative;
  //     height: auto;
  //   }
  //   .nav.responsive .icon {
  //     position: absolute;
  //     right: 0;
  //     top: 0;
  //     height: auto;
  //     padding: 1rem 1.5rem;
  //   }
  //   .nav.responsive a {
  //     float: none;
  //     display: block;
  //     text-align: left;
  //   }
  // }