/*------------------------------------*\
 #FONT VARIABLES                      
\*------------------------------------*/

    $font-size-small:      font-size(12px);
    $font-size-default:    font-size(16px);
    $ont-size-big:         font-size(20px);

    $font-family-primary:  'Poppins', sans-serif;
    $font-family-titles:   'Modak', cursive; 
    