// // // // // // // // // // // // // //
// COLORS                              //
// // // // // // // // // // // // // //
    $color-i:             rgba(156, 39, 176,1.0);
    $color-ii:            rgba(205, 220, 57,1.0);
    $color-iii:           rgba(233, 30, 99,1.0);
    $color-iv:            rgba(255, 152, 0,1.0);
    $color-v:             rgba(0, 110, 255, 1.0);
    $color-vi:            rgba(52, 172, 224,1.0);
    $color-vi:            rgba(76, 175, 80,1.0);

    $color-white:         rgba(247, 241, 227,1.0);
    $color-black:         rgba(33, 33, 33,1.0);
    $color-grey:          rgba(55, 60, 63,1.0);
    $color-grey-light:    rgba(235, 235, 235,1.0);

    $color-typography:    rgba(81, 81, 81,1.0);